<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
    <style>
        [v-cloak]{
            display:none;
        }
    </style>
  </head>
  <body>

  <div class="container" id="app" v-cloak>
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content">
          <!-- Сюда необходимо вывести текст активного шага по его индексу -->
            {{text}}
        </div>
        <ul class="steps-list">

            <li 
            :class="[((step*1-1) in previousSteps)?'steps-item done':'steps-item',(step==activeNow)? 'steps-item active':'steps-item',]"
            v-for="step in stepsRender"
            @click='changeStep(step)'
            :key="step"
               ><span >{{step}}</span> Шаг {{step}}</li>

 
        </ul>
        <div v-if="forwardBtn!=''">
          <button class="btn" @click="moveBack" :disabled="activeNow==='1'|| activeNow==='start'">Назад</button>
          <button class="btn primary" @click="moveForward">{{forwardBtn}}</button>
        </div>
        <div v-show="forwardBtn===''">
            <button class="btn" @click="moveForward">Начать заного</button>
        </div>

      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
  </body>
</html>
